{% extends 'theme.html' %}
{% load static %}
{% block content %}
    <style type="text/css">
    .nav_borrow{
        margin: 0 auto;
        width: 100%;
        text-decoration: none;
        list-style-type: none;
        line-height: 40px;
    }
    .nav_borrow tr{
        margin: 50px auto;
        font-size: 20px;
    }
    .nav_borrow tr td{
        text-align:center
    }
    .nav_borrow tr a td{
        text-align: center;
    }
    .nav_borrow tr:hover{
        background: rgb(185, 185, 185);
    }
    .color1{
        background: rgb(255, 255, 221);
    }
    .color2{
        background: rgba(255, 86, 0, 0.15);
    }
    .color3{
        background: rgb(255, 90, 41);
    }

    </style>
<table class="nav_borrow" id="borrow_list">
<tr style="font-weight: bolder;background: rgb(185, 185, 185)">
    <td>用户名</td>
    <td>图书编号</td>
    <td>借出日期</td>
    <td>需还日期</td>
</tr>
</table>

<script src="{% static 'borrow.js' %}"></script>
{% endblock %}