{% extends 'theme.html' %}
{% load static %}

{% block head %}
    <style type="text/css">
        .navv{
            z-index: 1;
            width: 150px;
            position: fixed;
        }
        .navv li{
            list-style-type: none;
        }
        .navv li a{
            text-decoration: none;
            color: rgba(219, 103, 68, 0.68);
            font-size: 15px;
        }
        .navv li a:hover{
            color: #2d7ab2;
        }
        .divv{
            width: 500px;
            height: 80px;
            margin: 0 auto;
            padding: 20px;
        }
        .divv ul {
            width: 373px;
            padding: 5px;
            list-style: none;
            border: 1px solid rgba(0,0,0,0.3);
            border-top: none;
            background: white;
            visibility: hidden;
        }
        .divv li{
            line-height: 30px;
        }
        .divv li:hover {
            background-color: rgba(200,200,200,0.6);
        }
        .divv button{
            display: block;
        }

        .down_div{
            background: rgba(255,255,255,0.4);
            width:380px;
            height:100px;
        }
        .divv input{
            outline: none;
        }
    </style>
<ul id="navv1" class="navv ">
    <li id="close_navv" style="display: block"><a href="#" onclick="close_nav()">关闭导航栏</a></li>
    <li id="open_navv" style="display: none"><a href="#" onclick="open_nav()">开启导航栏</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">A</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">B</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">C</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">D</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">E</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">F</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">G</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">H</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">I</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">J</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">K</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">L</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">M</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">N</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">O</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">P</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">Q</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">R</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">S</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">T</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">U</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">V</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">W</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">X</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">Y</a></li>
    <li><a href="#" onclick="show_books(this.innerHTML)">Z</a></li>
    </ul>
<div class="divv" >
<form class="d-flex" style="margin-bottom: 0px">
          <input autocomplete="off" onclick="remove_list();search_box.style.visibility='visible'" onkeyup="ajax_search(this.value);search_box.style.visibility='visible'" id="search_input" class="form-control me-2" type="search" placeholder="请输入书名" aria-label="Search">
          <button onclick="ajax_show_one_table(search_input.value);remove_list()" id="search_btn" class="btn btn-outline-success" type="button">Search</button>
</form>
    <ul id="search_box">
        <li>&nbsp</li>
    </ul>
{#<div class="down_div"></div>#}
</div>

{% endblock %}

{% block content %}
<div class="row mb-2" id="rowb2">
{#    <div class="col-md-6">#}
{#      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">#}
{#        <div class="col p-4 d-flex flex-column position-static">#}
{#          <strong class="d-inline-block mb-2 text-primary">World</strong>#}
{#          <h3 class="mb-0">Featured post</h3>#}
{#          <div class="mb-1 text-muted">Nov 12</div>#}
{#          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>#}
{#          <a href="#" class="stretched-link">Continue reading</a>#}
{#        </div>#}
{#        <div class="col-auto d-none d-lg-block">#}
{#          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}

  </div>

{% endblock %}
{% block hello %}
    <script src="{% static 'home.js' %}"></script>
{% endblock %}