{% extends 'theme.html' %}
{% load static %}
{% csrf_token %}
{% block content %}
    <style type="text/css">
        form span{
            color:red;
            font-size: 20px;
        }
        form input{
            padding:0 0 0 10px;
            width: 300px;
            height: 40px;
            border-radius: 10px;
            border: 1px solid rgb(192 201 207);
            outline: none;
        }
        .btn_submit{
            padding: 0px;
            border: 1px solid #409EFF;
            border-radius: 10px;
            width: 147px;
            height: 40px;
        }
        .btn_left{
            margin-left: 50px;
        }
    input::placeholder{
            color:rgb(192 201 207);
            font-size: 14px;

        }
    </style>
    <h1 align="center">Login</h1>
    <!--  登录  -->
    <form style="margin-left: 40px" action="{% url '登录' %}" align="center" method="POST" autocomplete="off">
    {{ dic }}<br/>
    {% csrf_token %}
        <label>账号：<input name="user_name" type="text" placeholder="请输入账号"></label><br/><br/>
        <label>密码：<input name="user_password" type="password" placeholder="请输入密码"></label><br/><br/>
        <input class="btn_left btn_submit  btn btn-outline-primary" type="submit" value="登录">
        <input class="btn_submit btn btn-outline-primary" type="submit" value="注册" onclick="register.value = '1'">
        <input type="hidden" name="register" id='register' value="0">
    </form>
    <p align = "center" style="margin-right: 130px"><a href="#" onclick="document.getElementById('find_password').style.visibility='visible'">忘记密码?</a></p>

    <!-- 找回密码  -->

     <form id="find_password" style="visibility: hidden" method="POST"  align = center autocomplete="off">
        {% csrf_token %}
        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>*</span>&nbsp;姓名：<input id="user_name" type="text" placeholder="请输入您的真实姓名"></label><br/><br/>
        <label>&nbsp;&nbsp;&nbsp;<span>*</span>&nbsp;手机号：<input id="user_phone" type="text" placeholder="请输入手机号码"></label><br/><br/>
        <label><span>*</span>&nbsp;身份证号：<input id="user_id" type="text" placeholder="请输入您的身份证号码"></label><br/><br/>
        <input style="width: 300px;margin-left: 90px" type="button" value="提交" class="btn_submit btn btn-outline-primary" onclick="find_pwd()">
    </form>
    <script src="{% static 'find_password.js' %}"></script>
{% endblock %}