{% extends 'manage_theme.html' %}
{% block content%}
    <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font">&#xe06b;</i><span>欢迎使用图书后台管理系统。</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>项目基本信息</h1>
            </div>
            <div class="result-content">
                <ul class="sys-info-list">
                    <li>
                        <label class="res-lab">项目名称：</label><span class="res-info">图书管理系统</span>
                    </li>
                    <li>
                        <label class="res-lab">项目概况：</label><span class="res-info">本系统能高效、快捷、稳定的查询图书馆的数据信息</span>
                    </li>
                    <li>
                        <label class="res-lab">主要功能：</label><span class="res-info">查询图书、借还图书、图书收藏、用户登录注册</span>
                    </li>
                    <li>
                        <label class="res-lab">开发工具：</label><span class="res-info">Pycharm；PS</span>
                    </li>
                    <li>
                        <label class="res-lab">数 据 库：</label><span class="res-info">MY SQL</span>
                    </li>
                    <li>
                        <label class="res-lab">组 长：</label><span class="res-info">陈胜源</span>
                    </li>
                    <li>
                        <label class="res-lab">组 员：</label><span class="res-info">陈津明、洪鼎、曾瑞涪、郑鑫阳、许平波、何玉芬、潘苗绒</span>
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}